@model Assessment6.Models.Dish

@{
    ViewBag.Title = "Dishes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="table-header container">
    <p class="text-center">Available Dishes</p>
    <br />
    <div>
        <table class="table table-hover">
            <tr class="table-header">
                <th scope="col">Dish Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Guest Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Edit Dish</th>
                <th scope="col">Delete Dish</th>
            </tr>
            @foreach (var dish in ViewBag.DishList)
            {
                <tr scope="row" class="table-row">
                    <td>@dish.DishName</td>
                    <td>@dish.Description</td>
                    <td>@dish.Category</td>
                    <td>@dish.GuestName</td>
                    <td>@dish.PhoneNumber</td>
                    <td><a href="~/Dish/EditDish?DishID=@dish.DishID">Edit this Dish</a></td>
                    <td><a href="~/Dish/DeleteDish?DishID=@dish.DishID">Delete this Dish</a></td>
                </tr>
            }
        </table>
    </div>


    <br />
    <a class="btn btn-default" href="~/Dish/AddDish">Add a Dish to the Menu</a>
</div>
