
@{
    ViewBag.Title = "Guests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-header container">
    <h2>Guests</h2>
    <table class="table">

        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Eamil</th>
            <th>RSVP Status</th>
            <th>Date</th>
            <th>Plus One</th>
            <th>Plus One's Name</th>
        </tr>
        @foreach (var guest in ViewBag.GuestList)
        {
            <tr>
                <td>@guest.FirstName</td>
                <td>@guest.LastName</td>
                <td>@guest.Email</td>
                <td>@guest.Attending</td>
                <td>@guest.PartyDate</td>
                <td>@guest.PlusOne</td>
                <td>@guest.PlusOneName</td>
            </tr>
        }

    </table>
</div>



