@model Assessment6.Models.Guest

@{
    ViewBag.Title = "RSVP_Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>

@if (Model.Attending == "No")
{
    <div id="ConfNo">
        <p>Thank you for RSVPing @Model.FirstName @Model.LastName!</p>
        <p>We're sorry you can't come, we hope we'll see you at the next party!</p>
    </div>
}
else
{
    <div id="ConfYes">
        <p>Thank you for RSVPing @Model.FirstName @Model.LastName!</p>
        <p>We can't wait to see you on @Model.PartyDate!</p>
        <p>We will send an email to @Model.Email with more details.</p>


        @if (Model.PlusOne == "Yes")
        {
            <p id="guestYes">We have noted that you are bringing @Model.PlusOneInfo as your plus one.</p>
        }
        else
        {
            <p id="guestNo">We have noted that you are not bringing a guest.</p>
        }

        <br />
        <br />
        <h2>Bring a Dish</h2>
        <p>Tell us if you're going to bring some noms</p>
        <p><a class="btn btn-default" href="/Home/Dish">Dish Info</a></p>

    </div>
}

